.employeeID {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  .team-info{
    border: 1px solid black;
    width: 250px;
    height: 350px;
    margin: 20px;
    color:black;
    background-color:#F9EBE0;
    border-radius: 20px;
  }
}

